*.exe
*.o
*.i
*.elf
*.gba
!data/*.gba
*.sgm
*.sa1
*.ss[0-9]
*.sg1
*.1bpp
*.4bpp
*.8bpp
*.gbapal
*.lz
*.rl
*.latfont
*.hwjpnfont
*.fwjpnfont
sound/**/*.bin
sound/songs/midi/*.s
tools/agbcc
*.map
*.bat
*.dump
*.sa*
Thumbs.db
build/
.DS_Store
*.ddump
.idea/
porymap.*.cfg
prefabs.json
.vscode/
*.a
.fuse_hidden*
*.sna
*.diff
*.sym
*.js
/pokeemerald-*.png
src/data/map_group_count.h
tools/trainerproc/trainerproc
*.Identifier
*.smol
*.fastSmol
*.smolTM
helpfulporytiles.sh
triple_layer_converter
__pycache__
data/maps/MythHub/scripts.inc
data/maps/Area1/scripts.inc
data/maps/Area2/scripts.inc
data/maps/Area3/scripts.inc
data/maps/Area4/scripts.inc
data/maps/Area5/scripts.inc
data/maps/Area6/scripts.inc
data/maps/Area7/scripts.inc
data/maps/Area8/scripts.inc
data/maps/Area9/scripts.inc
data/maps/Boss/scripts.inc
data/maps/Entrance/scripts.inc
